.basicModal{
    background-color: red;
    font-family: graphik;
    &_space{
        position: absolute;
        background-color: red;
        top: 50%;
        left: 50%;
        transform: 'translate(-50%, -50%)';
        width: 740px;
        padding-left: 100px;
        padding-right: 100px;
        z-index: 1000;

    }
}

// const style = {
//     position: 'absolute',
//     top: '50%',
//     left: '50%',
//     fontFamily: 'graphik',
//     transform: 'translate(-50%, -50%)',
//     width: {xs:'100%', md: 740},
//     bgcolor: 'background.paper',
//     border: '2px solid #000',
//     boxShadow: 24,
//     pl: '100px',
//     pr: '100px',
//     zIndex: '1000px'
//   }